.header {
  background: #106CC8;
}

.container {
  max-width: 900px;
  padding: 20px;
  margin: auto;
}

.content .container {
  margin-bottom: 40px;
}

.row-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #8EA6C0;
  padding: 5px;
}

.search::placeholder {
  color: #8EA6C0;
}

.search:focus {
  outline: 0;
  /* then add your own styles here */
}

input {
  width: calc(50% - 15px);
}

.furn-card {
  padding: 20px;
  height: calc(100% - 40px);
}

.furn-styles {
  color: #659FDC;
}

.furn-delivery {
  color: #106CC8;
  text-align: right;
  text-decoration: underline;
}

h3, h4 {
  margin: 0;
}

.price {
  color: #FF9902;
}